<div>
  <div class="big_column">
    <h1>
      <%= link_to "#{@listing.college.short_name}", college_listings_url(@listing.college) %>
      <% if @listing.community %>
         > <%= link_to @listing.community, college_community_path(@listing.college, @listing.community) %>
      <% end %>
    </h1>
    <h2>
      <span style="font-size: 0.9em;font-weight:normal;"><%= @listing %></span>
      <span style="font-size: 0.8em;color: orange;font-weight:bold;"><%= number_to_currency(@listing.price_per_month) %></span>
    </h2>
    
    <% if @listing.images.any? %>
      <div style="border: 1px solid green">
        <!-- Lightbox and shadowbox -->
        <% @listing.images.each do |image| %>
          <%= image_tag image.doc.url(:medium), :class => "picture_frame" %>
          <br />
        <% end %>
      </div>
    <% end %>
    
    <table class="list_table">
      <% if @listing.community %>
        <tr>
          <th>Community:</th>
          <td>
            <%= link_to "#{@listing.community}", college_community_path(@listing.community, @listing.college) %>
          </td>
        </tr>
      <% end %>
      
      <% if @listing.preferred_gender %>
        <tr>
          <th>Preferred Gender:</th>
          <td><%= @listing.preferred_gender %></td>
        </tr>
      <% end %>
      
      <% if @listing.available_bedrooms || @listing.total_bedrooms %>
        <tr>
          <th>Rooms</th>
          <td>
            <% if @listing.total_bedrooms %>
              <%= pluralize(@listing.total_bedrooms, "room") %> available 
              <% if @listing.available_bedrooms %>
                out of <%= @listing.available_bedrooms %> total <%= pluralize(@listing.available_bedrooms, "bedroom") %>
              <% end %>
            <% else %>
              <%= @listing.available_bedrooms %> total <%= pluralize(@listing.available_bedrooms, "bedroom") %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% if @listing.available_on %>
        <tr>
          <th>Available:</th>
          <td><%= @listing.available_on.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
      
      <tr>
        <th>Description:</th>
        <td><%= @listing.description %></td>
      </tr>
      <tr>
        <th>Contact:</th>
        <td>
          <% if @listing.contact_email.present? %>
            <%=mail_to @listing.contact_email, image_tag("email.png", class: "contact_icon") + raw("Email #{@listing.contact_email.to_ascii}"),
              subject: "UniversityRenter: #{@listing}",
              body: "\n\n-- Sent from http://www.UniversityRenter.com" %>
          <% end %>
          <% if @listing.contact_phone.present? %>
            <%= image_tag("phone.png") %>
            <%= @listing.contact_phone %>
          <% end %>  
        </td>
      </tr>
    </table>
    
    <%= render :partial => "addresses/map", :locals => {:address => @listing.address} %>
  </div>
  
  <%= render partial: "shared/feature_box", locals: {subject: @listing, editable: false, css_class: "for_rent"} %>

  <div class="clear"></div>
</div>