<div>
  <div id="for_rent_or_wanted">
    <div id="for_rent_label">
      <%= f.radio_button :wanted, false %>
      <%= f.label 'wanted_false', "Room for rent" %>
    </div>
    <div id="wanted_label">
      <%= f.radio_button :wanted, true %>
      <%= f.label 'wanted_true', "Room wanted" %>
    </div>
  </div>
  
  <table class="table-hover form">
    <tr>
      <th class="required"><%= f.label :title, "Ad Title:" %></th>
      <td>
        <%= f.text_field :title %><br>
        <small class="for_rent info">(Example: "Nice, clean room for rent")</small>
        <small class="wanted info">(Example: "Looking for quiet apartment to rent")</small>
      </td>
    </tr>
    <tr>
      <th class="required"><%= f.label :college_id, "College:" %></th>
      <td>
        <%= f.select :college_id, College.select_options(include_blank: true), {}, class: "search_select college_dropdown" %>
      </td>
    </tr>
    <tr id="community_dropdown">
      <%= render partial: "communities/dropdown", locals: {f: f, college: current_college} %>
    </tr>
    <tr>
      <th colspan=2 class="required" style="text-align: center;">Contact Info (email or phone):</th>
    </tr>
    <tr>
      <th><%= f.label :contact_email, "Email:" %></th>
      <td><%= f.text_field :contact_email %></td>
    </tr>
    <tr>
      <th><%= f.label :contact_phone, "Phone:" %></th>
      <td><%= f.text_field :contact_phone %></td>
    </tr>

    <%= f.fields_for :address do |address_form| %>
      <%= render partial: 'addresses/form', locals: { f: address_form, 
        editable: f.object.editable?(current_user), css_class: "for_rent required" } %>
    <% end %>
      
    <tr class="for_rent">
      <th><%= f.label :available_bedrooms, "Available bedrooms:" %></th>
      <td><%= f.select :available_bedrooms, [""] + (1..10).to_a %></td>
    </tr>
    <tr class="for_rent">
      <th><%= f.label :total_bedrooms, "Total bedrooms in unit:" %></th>
      <td><%= f.select :total_bedrooms, [""] + (1..10).to_a %></td>
    </tr>
    <tr class="for_rent required">
      <th><%= f.label :price_per_month, "Monthly rent:" %></th>
      <td><%= f.text_field :price_per_month, placeholder: "$", size: "4" %></td>
    </tr>
    <tr class="for_rent required">
      <th><%= f.label :available_on, "When is this available?" %></th>
      <td><%= f.text_field :available_on, id: "for_rent_available_on", class: 'datepicker' %></td>
    </tr>
    <tr class="for_rent">
      <th><%= f.label :preferred_gender_id, "Girl or Guy Renter?" %></th>
      <td><%= f.select :preferred_gender_id, Gender.select_options, prompt: "Don't matter to me" %></td>
    </tr>
    <tr class="wanted">
      <th><%= f.label :available_bedrooms, "# of Bedrooms Needed:" %></th>
      <td><%= f.select :available_bedrooms, [""] + (1..10).to_a %></td>
    </tr>
    <tr class="wanted">
      <th><%= f.label :available_on, "Date needed:" %></th>
      <td><%= f.text_field :available_on, id: "wanted_date", class: 'datepicker' %></td>
    </tr>
    <tr class="wanted">
      <th><%= f.label :preferred_gender_id, "Are you a Guy or Girl?" %></th>
      <td><%= f.select :preferred_gender_id, Gender.select_options, include_blank: true %></td>
    </tr>
    <tr>
      <th><%= f.label :description, "Description:" %></th>
      <td><%= f.text_area :description, size: "42x10" %></td>
    </tr>
  </table>
</div>
  
<%= render partial: "shared/feature_box", locals: {subject: @listing, editable: true, css_class: "for_rent"} %>
  
<div class="for_rent">
  <%= render partial: "documents/nested_form", :locals => {f: f, editable: f.object.editable?(current_user) } %>
</div>
