<div>
  <div class="big_column">
    <h1>
      <%= link_to "#{@listing.college.short_name}", college_listings_url(@listing.college) %>
      <% if @listing.community %>
         > <%= link_to @listing.community, college_community_url(@listing.college, @listing.community) %>
      <% end %>
    </h1>
    <h2>
      <span class="listing-title"><%= @listing %></span>
      <span class="listing-monthly-price"><%= number_to_currency(@listing.price_per_month) %> per month</span>
    </h2>
    
    <% if @listing.images.any? %>
      <div class="picture-container">
        <% @listing.images.each do |image| %>
          <a href="<%= image.doc.url(:original) %>">
            <%= image_tag image.doc.url(:medium), class: 'picture_frame' %>
          </a>
        <% end %>
        <div class="clear"></div>
      </div>
    <% end %>
    
    <table class="table table-striped table-bordered table-hover">
      <% if @listing.community %>
        <tr>
          <th>Community:</th>
          <td>
            <%= link_to "#{@listing.community}", college_community_url(@listing.community, @listing.college) %>
          </td>
        </tr>
      <% end %>
      
      <% if @listing.preferred_gender %>
        <tr>
          <th>Preferred Gender:</th>
          <td><%= @listing.preferred_gender %></td>
        </tr>
      <% end %>
      
      <% if @listing.available_bedrooms || @listing.total_bedrooms %>
        <tr>
          <th>Rooms</th>
          <td>
            <% if @listing.total_bedrooms %>
              <%= pluralize(@listing.available_bedrooms, "room") %> available 
              <% if @listing.available_bedrooms %>
                out of <%= pluralize(@listing.total_bedrooms, "bedroom") %>
              <% end %>
            <% else %>
              <%= @listing.available_bedrooms %>
            <% end %>
          </td>
        </tr>
      <% end %>
      
      <% if @listing.available_on %>
        <tr>
          <th>Available:</th>
          <td><%= @listing.available_on.strftime("%B %d, %Y") %></td>
        </tr>
      <% end %>
      
      <tr>
        <th>Description:</th>
        <td><%= @listing.description %></td>
      </tr>
      <tr>
        <th>Contact:</th>
        <td>
          <% if @listing.contact_email.present? %>
            <%= mail_to @listing.contact_email, raw(email_icon) + raw(" Email #{@listing.contact_email.to_ascii}"),
              subject: "UniversityRenter: #{@listing}",
              body: "\n\n-- Sent from http://www.UniversityRenter.com" %>
          <% end %>
          <% if @listing.contact_phone.present? %>
            <%= phone_icon %> <%= @listing.contact_phone %>
          <% end %>  
        </td>
      </tr>
    </table>
    
    <%= render :partial => "addresses/map", :locals => {:address => @listing.address} %>
  </div>
  
  <%= render partial: "shared/feature_box", locals: {subject: @listing, editable: false, css_class: "for_rent"} %>

  <div class="clear"></div>
</div>