<tr class="<%= listing_class(listing) %>">
  <td>
    <div style="float: left;margin-right: 10px;">
      <%= show_primary_image(listing) %>
    </div>
  
    <%= link_to listing, college_listing_url(listing.college, listing) %>
  </td>
  <% unless current_college %>
    <td><%= link_to listing.college, listing.college %></td>
  <% end %>
  <td><%= number_to_currency(listing.price_per_month) %></td>
  <td><%= listing.available_on.strftime("%m/%d/%Y") if listing.available_on.present? %></td>

  <% if current_user %>
    <td>
      <% if listing.editable?(current_user) %>
        <%= link_to edit_icon, edit_listing_url(listing) %>
        <%= link_to destroy_icon, listing, :confirm => 'Are you sure you want to delete this ad?', method: :delete %>
      <% end %>
    </dh>
  <% end %>
</tr>