<h1>Editing ad</h1>

<%= form_for(@listing, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => "form", :locals => {:f => f} %>
  
  <% if current_user && current_user.admin? %>
    <p><%= f.select :ad_status_id, AdStatus.select_options %></p>
  <% end %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @listing %> |
<%= link_to 'View all Ads', listings_path %>