<h1>Manage Users</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Email</th>
    <th>Status</th>
    <th>Roles</th>
    <th style="width: 200px;"></th>
  </tr>
  <% @users.each do |user| %>
    <tr class="<%= cycle('odd', 'even') %>">
      <td><%= user.email %></td>
      <td><%= user.user_status %></td>
      <td><%= user.roles.map(&:to_s).to_sentence %></td>
      <td>
        <%= link_to 'Show', user %>
        <%= link_to edit_icon, edit_user_path(user) %>
        <%= link_to destroy_icon, user, confirm: "Are you sure you want to delete #{user}?  This will remove their ads, too.", method: :delete %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @users %>

<br />

<%= link_to 'New User', new_user_path, class: 'add_link' %>