<h1><%= @user %></h1>

<table class="form">
  <tr>
    <th>Email:</th>
    <td><%= @user.email %></td>
  </tr>
  <tr>
    <th>Status:</th>
    <td><%= @user.user_status %></td>
  </tr>
  <tr>
    <th>Roles:</th>
    <td><%= @user.roles.map(&:to_s).to_sentence %></td>
  </tr>
  <tr>
    <th>Listings:</th>
    <td><%= link_to @user.listings.size, listings_path(:search => {:creator_id => @user.id}) %></td>
  </tr>
</table>

<%= link_to 'Edit', edit_user_path(@user), class: 'edit_link' %><br>
<%= link_to 'Delete', @user, confirm: "Are you sure you want to delete #{@user}?  This will remove their ads, too.", 
  method: :delete, class: 'delete_link' %>