<div class="container-fluid">
  <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </a>
  <%= link_to image_tag("lil_college_hat.png", alt: "University Renter", title: "University Renter") + "UniversityRenter", listings_url, :class => 'brand' %>
  <div class="container-fluid nav-collapse">
    <ul class="nav nav-pills">
      <li <%= "class=active" if controller.controller_name == "listings" && !["new", "create", "edit", "update"].include?(controller.action_name) %>>
        <% if current_college %>
          <%= link_to "#{current_college.short_name} Ads", college_listings_url(current_college) %>
        <% else %>
          <%= link_to "Ads", listings_url %>
        <% end %>
      </li>
      <li <%= "class=active" if controller.controller_name == "communities" %>>
        <% if current_college %>
          <%= link_to "#{current_college.short_name} Communities", college_communities_url(current_college) %>
        <% else %>
          <%= link_to "Communities", communities_url %>
        <% end %>
      </li>

      <li <%= "class=active" if controller.controller_name == "colleges" %>><%= link_to "Colleges", colleges_url %></li>
      <% if current_user %>
        <!-- <li><%#= link_to "My Ads", listings_url(:filter => {:creator_id => current_user.id}), :class => "button black medium" %></li> -->
  
        <% if current_user.admin? %>
          <li><%= link_to "Users", users_url %></li>
        <% end %>
      <% end %>
      
      <li <%= "class=active" if controller.controller_name == "listings" && ["new", "create", "edit", "update"].include?(controller.action_name) %>>
        <%= link_to "Post an Ad", new_listing_url(:listing => {:college_id => current_college.try(:id)}) %>
      </li>
      
      <%= render partial: "sessions/nav_form" %>
    </ul>
  </div><!--/.nav-collapse -->
</div>
