<% if !defined?(editable) || editable %>
  <div class="fields image_holder">
    <% if f.object.image? %>
      <%= image_tag f.object.doc.url(:medium) %><br />
      <%= f.object.to_s %>
      <br>
    <% end %>
    Title: <%= f.text_field :title %><br />
    <%= f.file_field :doc %>
    <%= remove_child_link destroy_icon, f %>
  </div>
<% elsif f.object.image? %>
  <div class="image_holder">
    <%= image_tag f.object.doc.url(:medium) %>
  </div>
<% end -%>