<%= f.label :name, "Name:" %><br />
<%= f.text_field :name %><br />
<%= f.label :short_name, "Short Name:" %> <span class="extra_info">(like NCSU)</span><br />
<%= f.text_field :short_name %><br />
<%= f.label :mascot, "Mascot:" %><br />
<%= f.text_field :mascot %><br />

<%= f.fields_for :address do |address_form| %>
  <tr class="fields"><td colspan="2"><%= render :partial => 'addresses/form', :locals => { :f => address_form, 
    :editable => true } %></td></tr>
<% end %>


<%= f.label :description, "Description:" %><br /> <%= f.text_area :description, :size => "50x5" %><br />