<h1>Editing college</h1>

<%= form_for(@college) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => 'colleges/form', :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @college %> |
<%= link_to 'Back', colleges_path %>