<h1>Colleges</h1>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>College</th>
    <th>City</th>
    <th>State</th>
    <th>Ads</th>
    <% if current_user && current_user.admin? %>
      <th></th>
    <% end %>
  </tr>

  <% @colleges.each do |college| %>
    <tr class="<%= cycle('even', 'odd') %>">
      <td><%= link_to college, listings_path(college_id: college.id) %></td>
      <td><%= college.address.try(:city) %></td>
      <td><%= college.address.try(:state).try(:abbreviation) %></td>
      <td><%= link_to "#{college.listings.count} Ads", listings_path(:filter => {:college_id => college.id}) %></td>
      
      <% if current_user && current_user.admin? %>
        <td>
          <%= link_to '', edit_college_path(college), :class => "edit_link" %>
          <%= link_to '', college, :confirm => "Are you sure you want to delete #{college}? This will delete ALL its communities and ads, too.", :method => :delete, :class => "delete_link" %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<br />

<% if current_user && current_user.admin? %>
  <%= link_to 'New college', new_college_path %>
<% end %>