<table class="table table-striped table-bordered table-hover">
  <tr>
    <th><%= label :name, "Name:" %></th>
    <td><%= @college.name %></td>
  </tr>
  <tr>
    <th><%= label :short_name, "Short Name:" %></th>
    <td><%= @college.short_name %></td>
  </tr>
  <tr>
    <th><%= label :mascot, "Mascot:" %></th>
    <td><%= @college.mascot %></td>
  </tr>
  <%= render :partial => "addresses/show", :locals => {:address => @college.address, :in_table => true} %>
  <tr>
    <th><%= label :description, "Description:" %></th>
    <td><%= @college.description %></td>
  </tr>
</table>

<div>
  <h3><%= @college %> Student Apartment Communities in <%= @college.city_state %></h3>
  <%= render partial: "communities/table", locals: {communities: @college.communities} %>
</div>

<% if @college.can_edit?(current_user) %>
  <%= link_to 'Edit', edit_college_url(@college) %> |
<% end %>
<%= link_to 'College list', colleges_url %>