<div>
  <div class="big_column">
    <table class="form">
      <tr>
        <th>College:</th>
        <td><%= f.select :college_id, College.select_options(:include_blank => true), {}, :class => 'medium_select' %></td>
      </tr>
      <tr>
        <th>Name:</th>
        <td><%= f.text_field :name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <th>Website</th>
        <td><%= f.text_field :external_url %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= f.text_field :phone %></td>
      </tr>
      <tr>
        <th>Fax</th>
        <td><%= f.text_field :fax %></td>
      </tr>
      <%= f.fields_for :address do |address_form| %>
        <tr class="fields"><td colspan="2"><%= render :partial => 'addresses/form', :locals => { :f => address_form, 
          :editable => true } %></td></tr>
      <% end %>
      <tr>
        <th>Description:</th>
        <td><%= f.text_area :description, :size => "47x10" %></td>  
      </tr>
    </table>
  </div>
  
  <%= render partial: "shared/feature_box", locals: {subject: @community, editable: true} %>

  <div class="small_column for_rent">
    <%= render :partial => "documents/nested_form", :locals => {:f => f, :editable => current_user.admin? } %>
  </div>
  
  <div class="clear"></div>
</div>