<h1>Editing Community</h1>

<%= form_for(@community, :html => { :multipart => true }) do |f| %>
  <%= f.error_messages %>
  
  <%= render :partial => "form", :locals => {:f => f} %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @community %> |
<%= link_to 'Community List', communities_path %>