<div>
  <div class="big_column">
    <h1>
      <%= link_to @community.college, @community.college %> > <%= @community %>
    </h1>
    
    <%= render :partial => "addresses/map", :locals => {:address => @community.address} %>
    
    <div>
      <!-- Lightbox and shadowbox, fancyzoom -->
      <% @community.images.each do |image| %>
        <%= image_tag image.doc.url(:medium), :class => "picture_frame" %>
        <br />
      <% end %>
    </div>
    
    <table class="form">
    </table>
  </div>
  
  <div class="small_column" style="margin-left: 10px;padding: 5px;">
    <%= simple_format @community.description %>
  </div>
  
  <%= render partial: "shared/feature_box", locals: {subject: @community, editable: false} %>
  
  <div class="small_column" style="float: right;margin-right: 10px; padding: 5px;">
    <h2>Contact Info</h2>
    <% if @community.email.present? %>
      <p><%= mail_to @community.email, raw(email_icon) + " Email #{@community}", body: "-- Sent from http://www.UniversityRenter.com" %></p>
    <% end %>
    <% if @community.phone.present? %>
      <p><%= image_tag("phone.png", class: "contact_icon") %>Phone: <%= @community.phone %></p>
    <% end %>
    <% if @community.fax.present? %>
      <p><%= image_tag("fax.gif", class: "contact_icon") %>Fax: <%= @community.fax %></p>
    <% end %>
    <% if @community.external_url.present? %>
      <p><%= image_tag("link.gif", class: "contact_icon") %><%= link_to "External website", @community.external_url %></p>
    <% end %>
  </div>

  <div class="clear"></div>
</div>


<% if @community.editable?(current_user) %>
  <%= link_to 'Edit', edit_community_url(@community) %> |
<% end %>
<%= link_to "Student Apartment Communities near #{@community.college}", college_communities_url(@community.college) %>