<div>
  <div class="big_column">
    <h1>
      <%= link_to @community.college, @community.college %> > <%= @community %>
      <!-- <span style="font-size: 0.9em;font-weight:normal;"><%#= @listing %></span> -->
    </h1>
    
    <%= render :partial => "addresses/map", :locals => {:address => @community.address} %>
    
    <div style="border: 1px solid green">
      <!-- Lightbox and shadowbox, fancyzoom -->
      <% @community.images.each do |image| %>
        <%= image_tag image.doc.url(:medium), :class => "picture_frame" %>
        <br />
      <% end %>
    </div>
    
    <table class="form">
    </table>
  </div>
  
  <%= render partial: "shared/feature_box", locals: {subject: @community, editable: false} %>

  <div class="clear"></div>
</div>


<% if @community.editable?(current_user) %>
  <%= link_to 'Edit', edit_community_path(@community) %> |
<% end %>
<%= link_to 'Back', communities_path %>